.bx_tag_clound_wrapper {
	padding: 10px 0; 
	margin-bottom: 10px; 
	margin-top: 10px; 
	border: silver 1px transparent;
	font-size: 12px;
	width: 350px;
	text-align: center; 
	height: 30px;
}

.bx_tag_clound_wrapper:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.bx_tag_clound_wrapper span {
	border: 1px solid #a5d24a;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: block;
	float: left;
	padding: 5px;
	text-decoration: none;
	background: #cde69c; 
	color: #638421; 
	font-family: helvetica;
	font-size: 13px;
	margin: 4px; 
	cursor: pointer;
}