.multi-left-div { float: left; width: 35%;  }
.multi-middle-div { float:left; width: 12%; position: relative; }
.multi-right-div { float: left;  width: 50%; }

.multi-wrapper-div {  
	margin: 10px 0; 
	width: 500px;
}
.multi-wrapper-div:after {
	content: '.';
	height: 0;
	visibility: hidden;
	display: block;
	clear:both;
}
.multi-wrapper-div ul {
	margin: 0; list-style-type: none; height: 300px; padding: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); border: 1px solid #ccc;
	border-radius: 3px; transition: border linear 0.2s, box-shadow linear 0.2s;
}

.multi-wrapper-div li {
	border-bottom: 1px #eee solid; padding: 2px 10px; color: #555; font-size: 14px;
	line-height: 20px;
}

.multi-right-div li span { display: inline-block; width: 70%; word-wrap: break-word; }
.multi-right-div li input { display: inline-block; width: 20%; }